<div class="flex items-center mb-[72px] pt-[56px]">
  <div class="relative container mx-auto">
    <div class="relative">
      <div class="text-center">
        <div class="text-sm uppercase text-[12px] font-bold tracking-wider mb-[20px]">
          Page not found
        </div>
        <h1 class="mb-[20px] text-[40px] md:text-[48px] lg:text-[64px] leading-[1] font-extrabold tracking-tight">
          404
        </h1>

        <p class="text-xl mb-[24px] text-slate-600">
          Sorry, we couldn't fetch the page you're looking for
        </p>
      </div>
    </div>
  </div>
</div>